小说宁姚武器设定提取版.yml
app:
  description: 输入小说 ID 和章节范围，逐章提取《剑来》中宁姚相关武器、佩剑、飞剑、剑气、剑匣、法器或长期战斗装备设定，并合并为武器设定图册素材。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 小说宁姚武器设定提取版
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 2000000000001-source-2000000000002-target
      source: '2000000000001'
      sourceHandle: source
      target: '2000000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 2000000000002-source-2000000000003-target
      source: '2000000000002'
      sourceHandle: source
      target: '2000000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        sourceType: iteration-start
        targetType: tool
      id: 2000000000003start-source-2000000000004-target
      source: 2000000000003start
      sourceHandle: source
      target: '2000000000004'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        sourceType: tool
        targetType: llm
      id: 2000000000004-source-2000000000005-target
      source: '2000000000004'
      sourceHandle: source
      target: '2000000000005'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        sourceType: llm
        targetType: code
      id: 2000000000005-source-2000000000006-target
      source: '2000000000005'
      sourceHandle: source
      target: '2000000000006'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 2000000000003-source-2000000000007-target
      source: '2000000000003'
      sourceHandle: source
      target: '2000000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 2000000000007-source-2000000000008-target
      source: '2000000000007'
      sourceHandle: source
      target: '2000000000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 2000000000008-source-2000000000009-target
      source: '2000000000008'
      sourceHandle: source
      target: '2000000000009'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 书籍id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: book_id
        - default: ''
          hint: ''
          label: 开始章节sortid
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: start_chapter_index
        - default: ''
          hint: ''
          label: 结束章节sortid
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: end_chapter_index
      height: 161
      id: '2000000000001'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(book_id: int, start_chapter_index: int, end_chapter_index:\
          \ int):\n    try:\n        book_id = int(book_id)\n        start = int(start_chapter_index)\n\
          \        end = int(end_chapter_index)\n    except Exception:\n        return\
          \ {\n            \"chapter_numbers\": [],\n            \"range_status\"\
          : \"error: book_id、start_chapter_index、end_chapter_index 必须是数字\",\n    \
          \    }\n\n    if book_id <= 0:\n        return {\n            \"chapter_numbers\"\
          : [],\n            \"range_status\": \"error: book_id 必须大于 0\",\n      \
          \  }\n\n    if start <= 0 or end <= 0:\n        return {\n            \"\
          chapter_numbers\": [],\n            \"range_status\": \"error: 章节 sortid\
          \ 必须大于 0\",\n        }\n\n    if end < start:\n        end = start\n\n \
          \   total = end - start + 1\n    if total > 100:\n        return {\n   \
          \         \"chapter_numbers\": [],\n            \"range_status\": \"error:\
          \ 章节范围最多支持 100 章，请缩小 start_chapter_index 和 end_chapter_index 的范围\",\n  \
          \      }\n\n    return {\n        \"chapter_numbers\": list(range(start,\
          \ end + 1)),\n        \"range_status\": \"ok\",\n    }\n"
        code_language: python3
        outputs:
          chapter_numbers:
            children: null
            type: array[number]
          range_status:
            children: null
            type: string
        selected: false
        title: 章节范围规范
        type: code
        variables:
        - value_selector:
          - '2000000000001'
          - book_id
          value_type: number
          variable: book_id
        - value_selector:
          - '2000000000001'
          - start_chapter_index
          value_type: number
          variable: start_chapter_index
        - value_selector:
          - '2000000000001'
          - end_chapter_index
          value_type: number
          variable: end_chapter_index
      height: 52
      id: '2000000000002'
      position:
        x: 380
        y: 315
      positionAbsolute:
        x: 380
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 488
        is_parallel: false
        iterator_input_type: array[number]
        iterator_selector:
        - '2000000000002'
        - chapter_numbers
        output_selector:
        - '2000000000006'
        - chapter_result
        output_type: array[string]
        parallel_nums: 10
        selected: true
        start_node_id: 2000000000003start
        title: 逐章分析
        type: iteration
        width: 1638
      height: 488
      id: '2000000000003'
      position:
        x: 690
        y: 260
      positionAbsolute:
        x: 690
        y: 260
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1638
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 2000000000003start
      parentId: '2000000000003'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 714
        y: 328
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '2000000000003'
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 书籍ID
            ja_JP: 书籍ID
            pt_BR: 书籍ID
            zh_Hans: 书籍ID
          label:
            en_US: book_id
            ja_JP: book_id
            pt_BR: book_id
            zh_Hans: book_id
          llm_description: 书籍ID
          max: null
          min: null
          name: book_id
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 起始章节（从1开始）
            ja_JP: 起始章节（从1开始）
            pt_BR: 起始章节（从1开始）
            zh_Hans: 起始章节（从1开始）
          label:
            en_US: start_chapter
            ja_JP: start_chapter
            pt_BR: start_chapter
            zh_Hans: start_chapter
          llm_description: 起始章节（从1开始）
          max: null
          min: null
          name: start_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 结束章节
            ja_JP: 结束章节
            pt_BR: 结束章节
            zh_Hans: 结束章节
          label:
            en_US: end_chapter
            ja_JP: end_chapter
            pt_BR: end_chapter
            zh_Hans: end_chapter
          llm_description: 结束章节
          max: null
          min: null
          name: end_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: item_type
            ja_JP: item_type
            pt_BR: item_type
            zh_Hans: item_type
          llm_description: ''
          max: null
          min: null
          name: item_type
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          book_id: ''
          end_chapter: ''
          item_type: ''
          start_chapter: ''
        provider_icon:
          background: '#E6F4D7'
          content: book
        provider_id: 1f1d0a7c-eedb-446e-be0e-a887b71cd1db
        provider_name: 获取书库书籍章节内容
        provider_type: workflow
        selected: false
        title: 获取书库书籍章节内容
        tool_configurations:
          book_id:
            type: variable
            value:
            - '2000000000001'
            - book_id
          end_chapter:
            type: variable
            value:
            - '2000000000003'
            - item
          start_chapter:
            type: variable
            value:
            - '2000000000003'
            - item
        tool_description: 根据书籍ID、起始章节和结束章节获取书库书籍相应章节的内容
        tool_label: 获取书库书籍章节内容
        tool_name: get_book_chapter_content
        tool_node_version: '2'
        tool_parameters:
          item_type:
            type: constant
            value: 1
        type: tool
      height: 140
      id: '2000000000004'
      parentId: '2000000000003'
      position:
        x: 820
        y: 328
      positionAbsolute:
        x: 1510
        y: 588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: single-system-prompt
          role: system
          text: |-
            你是小说武器设定提取、视觉设计归纳与生图提示词整理专家。

            你的任务是根据单章小说内容，专门分析《剑来》中“宁姚”相关的武器、佩剑、飞剑、剑气、剑匣、法器或长期战斗装备设定，提取有助于后续生成“武器设定图册”的信息。

            只根据本章原文判断，不得脑补后续剧情，不得使用原著外资料。若信息不足，必须标注“不明确”或“原文未明确”。

            分析目标：
            1. 识别本章中宁姚实际使用、持有、被明确提及拥有，或与宁姚存在明确关系的武器/装备。
            2. 提取这些武器的稳定设定，包括名称、别名、类型、归属、外观、材质、颜色、尺寸感、气质、剑意/能力、使用方式、象征意义。
            3. 区分“原文明确设定”和“可用于生图的弱视觉概括”，不能把临时战斗状态、血迹、破损、光影、场景动作当成稳定外观。
            4. 如果本章只提到宁姚用剑、出剑、剑气等，但没有具体外观，也要记录为“武器信息不足”，不要编造剑身颜色、纹样、剑柄材质等细节。
            5. 输出必须是合法 JSON，不要输出 Markdown，不要输出解释性文字。

            武器重要性只能从以下三类选择：
            1. 核心武器：宁姚长期持有、反复使用、与其身份/战力/主线关系密切，或具有明确名称与重要设定的武器。
            2. 重要武器：本章或近期情节中对战斗、身份展示、剧情推进有明显作用，但长期重要性证据不足。
            3. 边缘武器：短暂提及、背景性装备、无具体名称或缺少稳定设定的信息。

            视觉提取要求：
            - 只提取稳定、可复用、可画的信息：武器类型、轮廓、尺寸感、材质、颜色、纹饰、剑鞘/剑匣、握柄、护手、铭文、光泽、灵气/剑气表现、长期外显能力。
            - 不记录临时动作、临时姿态、短期损伤、战斗中的血迹尘土、一次性光影效果。
            - 如果原文没有明确视觉信息，可根据“剑修佩剑”等身份做极弱概括，但必须写明“外观细节不足”。
            - 生图描述应像武器设定提示词，简洁、具体、可画，通常 40 到 150 字。

            输出 JSON 结构：
            {
              "chapter_index": 章节编号,
              "chapter_title": "章节标题",
              "target_character": "宁姚",
              "weapons": [
                {
                  "weapon_name": "武器标准名称；未知则写“未命名武器”",
                  "aliases": ["别名、称谓、原文中的其他叫法"],
                  "importance": "核心武器 | 重要武器 | 边缘武器",
                  "relation_to_ning_yao": "宁姚持有/宁姚使用/宁姚被提及拥有/与宁姚相关但归属不明",
                  "weapon_type": "长剑/飞剑/佩剑/剑气/剑匣/法器/其他/类型不明确",
                  "setting_summary": "该武器在本章体现出的稳定设定，保守概括，不脑补",
                  "visual_description": "面向生图模型的武器稳定形象描述；若外观不足，明确写外观细节不足",
                  "ability_or_aura": "武器能力、剑意、气场、灵性、杀力等；没有则写原文未明确",
                  "design_keywords": [
                    "可用于图册设计的关键词，如冷冽、剑修、锋利、古朴、剑气、极简等"
                  ],
                  "unknown_fields": [
                    "原文没有说明但生图容易需要的信息，如颜色、材质、剑柄、剑鞘等"
                  ],
                  "evidence": [
                    {
                      "text": "原文依据或高度贴近原文的简短概括",
                      "reason": "为什么该依据支持武器名称、归属、重要性、能力或视觉描述"
                    }
                  ]
                }
              ]
            }
        - id: single-user-prompt
          role: user
          text: '章节编号：{{#2000000000003.item#}}


            章节内容：

            {{#2000000000004.text#}}'
        selected: false
        title: 单章宁姚武器设定分析
        type: llm
        vision:
          enabled: false
      height: 88
      id: '2000000000005'
      parentId: '2000000000003'
      position:
        x: 1100
        y: 328
      positionAbsolute:
        x: 1790
        y: 588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: |-
          def main(text: str, current_chapter: int):
              import json
              import re

              raw = (text or "").strip()
              raw = re.sub(r"^```(?:json)?", "", raw).strip()
              raw = re.sub(r"```$", "", raw).strip()

              try:
                  data = json.loads(raw)
              except Exception:
                  data = {
                      "chapter_index": int(current_chapter),
                      "chapter_title": "",
                      "target_character": "宁姚",
                      "weapons": [],
                      "parse_error": True,
                      "raw_text": raw[:1000],
                  }

              if not isinstance(data, dict):
                  data = {
                      "chapter_index": int(current_chapter),
                      "chapter_title": "",
                      "target_character": "宁姚",
                      "weapons": [],
                  }

              data["chapter_index"] = data.get("chapter_index") or int(current_chapter)
              data["target_character"] = data.get("target_character") or "宁姚"

              if not isinstance(data.get("weapons"), list):
                  data["weapons"] = []

              return {
                  "chapter_result": json.dumps(data, ensure_ascii=False),
              }
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        outputs:
          chapter_result:
            children: null
            type: string
        selected: false
        title: 解析单章武器 JSON
        type: code
        variables:
        - value_selector:
          - '2000000000005'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '2000000000003'
          - item
          value_type: number
          variable: current_chapter
      height: 52
      id: '2000000000006'
      parentId: '2000000000003'
      position:
        x: 1380
        y: 328
      positionAbsolute:
        x: 2070
        y: 588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: merge-system-prompt
          role: system
          text: |-
            你是小说武器设定表合并专家。你会收到一个数组，数组中的每一项都是某一章关于《剑来》中“宁姚”相关武器/装备的分析 JSON 字符串。请把所有章节结果合并成一份可用于“武器设定图册”的完整武器清单。

            合并规则：
            1. 武器去重：同一武器的本名、别名、称谓、类型描述可以合并，但必须有文本证据或上下文强关联。不能仅凭同为“剑”“飞剑”“剑气”就合并。
            2. 重要性优先级：核心武器 > 重要武器 > 边缘武器。如果同一武器在不同章节重要性不同，取最高重要性。
            3. 归属关系要保守：只合并为“宁姚持有/宁姚使用/宁姚被提及拥有/与宁姚相关但归属不明”等有原文支持的关系，不得把临时接触或含糊提及改写成长期持有。
            4. 设定摘要要合并为最稳定、最具体的武器设定，包含名称、类型、归属、使用方式、象征意义等；不要堆砌重复信息。
            5. 武器形象描述必须面向生图模型，优先保留能画出来的长期视觉特征：武器类型、轮廓、尺寸感、材质、颜色、纹饰、剑鞘/剑匣、握柄、护手、铭文、光泽、灵气/剑气表现、长期外显能力。
            6. 不要把临时动作、临时姿态、短期损伤、战斗中的血迹尘土、一次性光影效果写入稳定外观。
            7. 如果原文视觉信息不足，形象描述应保守，例如“外观细节不足；可按宁姚剑修身份生成极简锋利的剑类装备概念图”，不要编造具体颜色、材质、纹样、剑柄结构。
            8. 能力或气场只写原文明确体现或可由原文直接概括的剑意、杀力、灵性、使用效果；没有则写“原文未明确”。
            9. 每个武器最多保留 5 条最强判断依据，优先保留能体现名称、归属、重要性、能力和视觉描述的依据。
            10. 最终只输出以下字段：武器名称、别名、重要性、与宁姚关系、武器类型、设定摘要、武器形象描述、能力或气场、设计关键词、信息缺口、判断依据。
            11. 输出必须是合法 JSON 数组，不要输出 Markdown，不要输出解释性文字。

            最终输出结构：
            [
              {
                "武器名称": "武器标准名称；未知则写未命名武器",
                "别名": ["别名或称谓"],
                "重要性": "核心武器 | 重要武器 | 边缘武器",
                "与宁姚关系": "宁姚持有/宁姚使用/宁姚被提及拥有/与宁姚相关但归属不明",
                "武器类型": "长剑/飞剑/佩剑/剑气/剑匣/法器/其他/类型不明确",
                "设定摘要": "稳定设定概括，不脑补",
                "武器形象描述": "面向生图模型的稳定武器设定提示词",
                "能力或气场": "原文明确的能力、剑意、气场、灵性、杀力等；没有则写原文未明确",
                "设计关键词": ["关键词1", "关键词2"],
                "信息缺口": ["颜色", "材质", "剑柄", "剑鞘"],
                "判断依据": [
                  {
                    "text": "依据1",
                    "reason": "该依据支持的设定点"
                  }
                ]
              }
            ]
        - id: merge-user-prompt
          role: user
          text: '章节范围状态：{{#2000000000002.range_status#}}


            逐章分析结果数组：

            {{#2000000000003.output#}}'
        selected: false
        title: 最终合并武器设定
        type: llm
        vision:
          enabled: false
      height: 88
      id: '2000000000007'
      position:
        x: 1900
        y: 315
      positionAbsolute:
        x: 1900
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |-
          def main(text: str, range_status: str):
              import json
              import re

              if range_status != "ok":
                  return {"result": range_status}

              raw = (text or "").strip()
              raw = re.sub(r"^```(?:json)?", "", raw).strip()
              raw = re.sub(r"```$", "", raw).strip()

              try:
                  data = json.loads(raw)
              except Exception:
                  return {"result": raw}

              if not isinstance(data, list):
                  return {"result": json.dumps(data, ensure_ascii=False, indent=2)}

              def as_list(value):
                  if value is None or value == "":
                      return []
                  if isinstance(value, list):
                      return value
                  return [value]

              def normalize_evidence(value):
                  evidence = as_list(value)
                  normalized = []
                  for item in evidence[:5]:
                      if isinstance(item, dict):
                          normalized.append({
                              "text": item.get("text") or item.get("依据") or "",
                              "reason": item.get("reason") or item.get("理由") or "",
                          })
                      else:
                          normalized.append({"text": str(item), "reason": ""})
                  return normalized

              result = []
              for item in data:
                  if not isinstance(item, dict):
                      continue

                  evidence = item.get("判断依据") or item.get("evidence") or []
                  keywords = item.get("设计关键词") or item.get("design_keywords") or []
                  unknowns = item.get("信息缺口") or item.get("unknown_fields") or []
                  aliases = item.get("别名") or item.get("aliases") or []

                  result.append({
                      "武器名称": item.get("武器名称") or item.get("weapon_name") or "未命名武器",
                      "别名": as_list(aliases),
                      "重要性": item.get("重要性") or item.get("importance") or "边缘武器",
                      "与宁姚关系": item.get("与宁姚关系") or item.get("relation_to_ning_yao") or "与宁姚相关但归属不明",
                      "武器类型": item.get("武器类型") or item.get("weapon_type") or "类型不明确",
                      "设定摘要": item.get("设定摘要") or item.get("setting_summary") or "原文未明确",
                      "武器形象描述": item.get("武器形象描述") or item.get("visual_description") or "外观细节不足；需结合宁姚剑修身份进行保守生成。",
                      "能力或气场": item.get("能力或气场") or item.get("ability_or_aura") or "原文未明确",
                      "设计关键词": as_list(keywords),
                      "信息缺口": as_list(unknowns),
                      "判断依据": normalize_evidence(evidence),
                  })

              rank = {"核心武器": 0, "重要武器": 1, "边缘武器": 2}
              result.sort(key=lambda x: (rank.get(x["重要性"], 9), x["武器名称"]))
              return {"result": json.dumps(result, ensure_ascii=False, indent=2)}
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 最终格式化武器输出
        type: code
        variables:
        - value_selector:
          - '2000000000007'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '2000000000002'
          - range_status
          value_type: string
          variable: range_status
      height: 52
      id: '2000000000008'
      position:
        x: 2200
        y: 315
      positionAbsolute:
        x: 2200
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '2000000000008'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '2000000000009'
      position:
        x: 2500
        y: 315
      positionAbsolute:
        x: 2500
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 124.25
      y: 267
      zoom: 0.25
  rag_pipeline_variables: []
