小说角色定位合并-身份形象版.yml
app:
  description: 输入小说 ID 和章节范围，逐章识别角色，合并角色定位、身份、面向生图的形象描述和判断依据。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 小说角色定位合并-身份形象版
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 2000000000001-source-2000000000002-target
      source: '2000000000001'
      sourceHandle: source
      target: '2000000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 2000000000002-source-2000000000003-target
      source: '2000000000002'
      sourceHandle: source
      target: '2000000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        sourceType: iteration-start
        targetType: tool
      id: 2000000000003start-source-2000000000004-target
      source: 2000000000003start
      sourceHandle: source
      target: '2000000000004'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        sourceType: tool
        targetType: llm
      id: 2000000000004-source-2000000000005-target
      source: '2000000000004'
      sourceHandle: source
      target: '2000000000005'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        sourceType: llm
        targetType: code
      id: 2000000000005-source-2000000000006-target
      source: '2000000000005'
      sourceHandle: source
      target: '2000000000006'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 2000000000003-source-2000000000007-target
      source: '2000000000003'
      sourceHandle: source
      target: '2000000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 2000000000007-source-2000000000008-target
      source: '2000000000007'
      sourceHandle: source
      target: '2000000000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 2000000000008-source-2000000000009-target
      source: '2000000000008'
      sourceHandle: source
      target: '2000000000009'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 书籍id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: book_id
        - default: ''
          hint: ''
          label: 开始章节sortid
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: start_chapter_index
        - default: ''
          hint: ''
          label: 结束章节sortid
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: end_chapter_index
      height: 161
      id: '2000000000001'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(book_id: int, start_chapter_index: int, end_chapter_index:\
          \ int):\n    try:\n        book_id = int(book_id)\n        start = int(start_chapter_index)\n\
          \        end = int(end_chapter_index)\n    except Exception:\n        return\
          \ {\n            \"chapter_numbers\": [],\n            \"range_status\"\
          : \"error: book_id、start_chapter_index、end_chapter_index 必须是数字\",\n    \
          \    }\n\n    if book_id <= 0:\n        return {\n            \"chapter_numbers\"\
          : [],\n            \"range_status\": \"error: book_id 必须大于 0\",\n      \
          \  }\n\n    if start <= 0 or end <= 0:\n        return {\n            \"\
          chapter_numbers\": [],\n            \"range_status\": \"error: 章节 sortid\
          \ 必须大于 0\",\n        }\n\n    if end < start:\n        end = start\n\n \
          \   total = end - start + 1\n    if total > 100:\n        return {\n   \
          \         \"chapter_numbers\": [],\n            \"range_status\": \"error:\
          \ 章节范围最多支持 100 章，请缩小 start_chapter_index 和 end_chapter_index 的范围\",\n  \
          \      }\n\n    return {\n        \"chapter_numbers\": list(range(start,\
          \ end + 1)),\n        \"range_status\": \"ok\",\n    }\n"
        code_language: python3
        outputs:
          chapter_numbers:
            children: null
            type: array[number]
          range_status:
            children: null
            type: string
        selected: false
        title: 章节范围规范
        type: code
        variables:
        - value_selector:
          - '2000000000001'
          - book_id
          value_type: number
          variable: book_id
        - value_selector:
          - '2000000000001'
          - start_chapter_index
          value_type: number
          variable: start_chapter_index
        - value_selector:
          - '2000000000001'
          - end_chapter_index
          value_type: number
          variable: end_chapter_index
      height: 52
      id: '2000000000002'
      position:
        x: 380
        y: 315
      positionAbsolute:
        x: 380
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 488
        is_parallel: false
        iterator_input_type: array[number]
        iterator_selector:
        - '2000000000002'
        - chapter_numbers
        output_selector:
        - '2000000000006'
        - chapter_result
        output_type: array[string]
        parallel_nums: 10
        selected: true
        start_node_id: 2000000000003start
        title: 逐章分析
        type: iteration
        width: 1638
      height: 488
      id: '2000000000003'
      position:
        x: 690
        y: 260
      positionAbsolute:
        x: 690
        y: 260
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1638
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 2000000000003start
      parentId: '2000000000003'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 714
        y: 328
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '2000000000003'
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 书籍ID
            ja_JP: 书籍ID
            pt_BR: 书籍ID
            zh_Hans: 书籍ID
          label:
            en_US: book_id
            ja_JP: book_id
            pt_BR: book_id
            zh_Hans: book_id
          llm_description: 书籍ID
          max: null
          min: null
          name: book_id
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 起始章节（从1开始）
            ja_JP: 起始章节（从1开始）
            pt_BR: 起始章节（从1开始）
            zh_Hans: 起始章节（从1开始）
          label:
            en_US: start_chapter
            ja_JP: start_chapter
            pt_BR: start_chapter
            zh_Hans: start_chapter
          llm_description: 起始章节（从1开始）
          max: null
          min: null
          name: start_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 结束章节
            ja_JP: 结束章节
            pt_BR: 结束章节
            zh_Hans: 结束章节
          label:
            en_US: end_chapter
            ja_JP: end_chapter
            pt_BR: end_chapter
            zh_Hans: end_chapter
          llm_description: 结束章节
          max: null
          min: null
          name: end_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: item_type
            ja_JP: item_type
            pt_BR: item_type
            zh_Hans: item_type
          llm_description: ''
          max: null
          min: null
          name: item_type
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          book_id: ''
          end_chapter: ''
          item_type: ''
          start_chapter: ''
        provider_icon:
          background: '#E6F4D7'
          content: book
        provider_id: 1f1d0a7c-eedb-446e-be0e-a887b71cd1db
        provider_name: 获取书库书籍章节内容
        provider_type: workflow
        selected: false
        title: 获取书库书籍章节内容
        tool_configurations:
          book_id:
            type: variable
            value:
            - '2000000000001'
            - book_id
          end_chapter:
            type: variable
            value:
            - '2000000000003'
            - item
          start_chapter:
            type: variable
            value:
            - '2000000000003'
            - item
        tool_description: 根据书籍ID、起始章节和结束张杰获取书库书籍相应章节的内容
        tool_label: 获取书库书籍章节内容
        tool_name: get_book_chapter_content
        tool_node_version: '2'
        tool_parameters:
          item_type:
            type: constant
            value: 1
        type: tool
      height: 140
      id: '2000000000004'
      parentId: '2000000000003'
      position:
        x: 820
        y: 328
      positionAbsolute:
        x: 1510
        y: 588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: single-system-prompt
          role: system
          text: "你是小说角色识别、角色定位与视觉形象提取专家。你需要根据单章小说内容，识别本章中实际出现或被明确提及的角色，并提取有助于后续生成角色形象图的信息。\n\
            \n角色定位只能从以下三类选择：\n1. 核心角色：主角、主要反派、主要同伴、主要对手、长期驱动主线冲突或主线成长的人物。\n2. 重要角色：对本章或近期情节有明显推动作用，和核心角色存在明确关系，参与关键事件、冲突、任务、势力关系或重要信息传递的人物。\n\
            3. 边缘角色：短暂出场、背景人物、工具性人物、路人、只被轻微提及，或目前缺少证据证明其重要性的人物。\n\n角色身份提取要求：\n- 提取角色在本章明确体现的稳定身份、阵营、职业、地位、关系或称号。\n\
            - 示例：女主、皇子、宗门弟子、家族长老、护卫、敌对势力首领、主角师父、某城城主。\n- 如果身份信息不足，使用较保守表述，如“身份暂不明确”“某势力成员”“路人角色”。\n\
            \n角色形象描述提取要求：\n- 目标是服务于生图模型，帮助生成该角色的稳定视觉形象。\n- 只提取稳定、可视化、可复用的信息：性别年龄感、体型身形、五官气质、发色发型、瞳色、肤色、服饰风格、标志性饰品、武器/法器、身份服、长期外显能力、稳定气场。\n\
            - 不要事无巨细记录剧情动作，不要把临时表情、临时姿态、短期伤势、血迹泥土、单场战斗破损、心理活动、场景光影写进形象描述。\n- 如果原文没有明确视觉信息，可以根据身份做极弱概括，但必须标注“外貌细节不足”，不要编造发色、瞳色、服装颜色等具体细节。\n\
            - 形象描述要像给生图模型的角色设定提示词，简洁、具体、可画，通常 30 到 120 字。\n\n判断要求：\n- 只根据章节原文判断，不得脑补后续剧情。\n\
            - 如果角色重要性证据不足，优先判为较低定位。\n- 同一个角色的不同称呼、身份称号、外号可以写入 aliases。\n- 判断依据必须来自原文，可概括但不能编造。\n\
            - 输出必须是合法 JSON，不要输出 Markdown，不要输出解释性文字。\n\n输出 JSON 结构：\n{\n  \"chapter_index\"\
            : 章节编号,\n  \"chapter_title\": \"章节标题\",\n  \"roles\": [\n    {\n     \
            \ \"name\": \"标准角色名\",\n      \"aliases\": [\"别名或称谓\"],\n      \"position\"\
            : \"核心角色 | 重要角色 | 边缘角色\",\n      \"identity\": \"角色身份\",\n      \"visual_description\"\
            : \"面向生图模型的稳定角色形象描述\",\n      \"evidence\": [\n        {\n          \"\
            text\": \"原文依据或高度贴近原文的简短概括\",\n          \"reason\": \"为什么该依据支持角色定位、身份或形象描述\"\
            \n        }\n      ]\n    }\n  ]\n}"
        - id: single-user-prompt
          role: user
          text: '章节编号：{{#2000000000003.item#}}


            章节内容：

            {{#2000000000004.text#}}'
        selected: false
        title: 单章角色分析
        type: llm
        vision:
          enabled: false
      height: 88
      id: '2000000000005'
      parentId: '2000000000003'
      position:
        x: 1100
        y: 328
      positionAbsolute:
        x: 1790
        y: 588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(text: str, current_chapter: int):\n    import json\n    import\
          \ re\n\n    raw = (text or \"\").strip()\n    raw = re.sub(r\"^```(?:json)?\"\
          , \"\", raw).strip()\n    raw = re.sub(r\"```$\", \"\", raw).strip()\n\n\
          \    try:\n        data = json.loads(raw)\n    except Exception:\n     \
          \   data = {\n            \"chapter_index\": int(current_chapter),\n   \
          \         \"chapter_title\": \"\",\n            \"roles\": [],\n       \
          \     \"parse_error\": True,\n            \"raw_text\": raw[:1000],\n  \
          \      }\n\n    if not isinstance(data, dict):\n        data = {\n     \
          \       \"chapter_index\": int(current_chapter),\n            \"chapter_title\"\
          : \"\",\n            \"roles\": [],\n        }\n\n    if not isinstance(data.get(\"\
          roles\"), list):\n        data[\"roles\"] = []\n\n    return {\n       \
          \ \"chapter_result\": json.dumps(data, ensure_ascii=False),\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '2000000000003'
        outputs:
          chapter_result:
            children: null
            type: string
        selected: false
        title: 解析单章 JSON
        type: code
        variables:
        - value_selector:
          - '2000000000005'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '2000000000003'
          - item
          value_type: number
          variable: current_chapter
      height: 52
      id: '2000000000006'
      parentId: '2000000000003'
      position:
        x: 1380
        y: 328
      positionAbsolute:
        x: 2070
        y: 588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: merge-system-prompt
          role: system
          text: "你是小说角色表合并专家。你会收到一个数组，数组中的每一项都是某一章的角色分析 JSON 字符串。请把所有章节结果合并成一份完整角色清单。\n\
            \n合并规则：\n1. 角色去重：同一角色的本名、外号、尊称、身份称号可以合并，但必须有文本证据或上下文强关联。不能仅凭同姓、同职业、同称号合并。\n\
            2. 角色定位优先级：核心角色 > 重要角色 > 边缘角色。如果同一角色在不同章节定位不同，取最高定位。\n3. 角色身份要合并为最稳定、最具体的身份描述。可以包含阵营、职业、地位、关系、称号，但不要堆砌互相重复的信息。\n\
            4. 角色形象描述必须面向生图模型，合并为一段稳定角色设定提示词。优先保留能画出来的长期视觉特征：年龄感、体型、五官气质、发色发型、瞳色、服饰风格、标志性饰品、武器/法器、身份服、外显能力、稳定气场。\n\
            5. 形象描述不要写临时剧情动作、短期伤势、血迹泥土、单场衣物破损、表情变化、心理活动、战斗姿态、环境光影。\n6. 如果原文视觉信息不足，形象描述应保守，例如“外貌细节不足；可按其身份生成……”，不要编造具体发色、瞳色、服装颜色。\n\
            7. 每个角色最多保留 5 条最强判断依据，优先保留能体现角色定位、身份和形象描述的依据。\n8. 最终只输出以下字段：角色名、角色定位、角色身份、角色形象描述、判断依据。\n\
            9. 输出必须是合法 JSON 数组，不要输出 Markdown，不要输出解释性文字。\n\n最终输出结构：\n[\n  {\n    \"\
            角色名\": \"角色名称\",\n    \"角色定位\": \"核心角色 | 重要角色 | 边缘角色\",\n    \"角色身份\"\
            : \"角色身份描述\",\n    \"角色形象描述\": \"面向生图模型的稳定角色形象描述\",\n    \"判断依据\": [\"\
            依据1\", \"依据2\"]\n  }\n]"
        - id: merge-user-prompt
          role: user
          text: '章节范围状态：{{#2000000000002.range_status#}}


            逐章分析结果数组：

            {{#2000000000003.output#}}'
        selected: false
        title: 最终合并角色结果
        type: llm
        vision:
          enabled: false
      height: 88
      id: '2000000000007'
      position:
        x: 1900
        y: 315
      positionAbsolute:
        x: 1900
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(text: str, range_status: str):\n    import json\n    import\
          \ re\n\n    if range_status != \"ok\":\n        return {\"result\": range_status}\n\
          \n    raw = (text or \"\").strip()\n    raw = re.sub(r\"^```(?:json)?\"\
          , \"\", raw).strip()\n    raw = re.sub(r\"```$\", \"\", raw).strip()\n\n\
          \    try:\n        data = json.loads(raw)\n    except Exception:\n     \
          \   return {\"result\": raw}\n\n    if not isinstance(data, list):\n   \
          \     return {\"result\": json.dumps(data, ensure_ascii=False, indent=2)}\n\
          \n    result = []\n    for item in data:\n        if not isinstance(item,\
          \ dict):\n            continue\n\n        evidence = item.get(\"判断依据\")\
          \ or item.get(\"evidence\") or []\n        if isinstance(evidence, str):\n\
          \            evidence = [evidence]\n        if not isinstance(evidence,\
          \ list):\n            evidence = []\n\n        result.append({\n       \
          \     \"角色名\": item.get(\"角色名\") or item.get(\"name\") or \"\",\n      \
          \      \"角色定位\": item.get(\"角色定位\") or item.get(\"position\") or \"边缘角色\"\
          ,\n            \"角色身份\": item.get(\"角色身份\") or item.get(\"identity\") or\
          \ \"身份暂不明确\",\n            \"角色形象描述\": item.get(\"角色形象描述\") or item.get(\"\
          visual_description\") or \"外貌细节不足；需结合角色身份进行保守生成。\",\n            \"判断依据\"\
          : evidence[:5],\n        })\n\n    rank = {\"核心角色\": 0, \"重要角色\": 1, \"\
          边缘角色\": 2}\n    result.sort(key=lambda x: (rank.get(x[\"角色定位\"], 9), x[\"\
          角色名\"]))\n    return {\"result\": json.dumps(result, ensure_ascii=False,\
          \ indent=2)}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 最终格式化输出
        type: code
        variables:
        - value_selector:
          - '2000000000007'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '2000000000002'
          - range_status
          value_type: string
          variable: range_status
      height: 52
      id: '2000000000008'
      position:
        x: 2200
        y: 315
      positionAbsolute:
        x: 2200
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '2000000000008'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '2000000000009'
      position:
        x: 2500
        y: 315
      positionAbsolute:
        x: 2500
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 124.25
      y: 267
      zoom: 0.25
  rag_pipeline_variables: []
